---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 0
UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments: None
AlignTrailingComments:
  Kind: Leave
SpacesBeforeTrailingComments: 2
PointerAlignment: Left
ReferenceAlignment: Left
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: Never
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtStartOfBlock: false
  AtEndOfFile: false
LineEnding: DeriveLF
InsertNewlineAtEOF: true
