root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h,java,gradle,ps1,vpc,rc}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{source-sdk-2013,source-sdk-2013-sp,source-sdk-2013-valve}/**]
charset = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
tab_width = unset
